:root {
	--neutral-1: hsl(0, 0%, 7%);
	--neutral-2: hsl(0, 0%, 10%);
	--neutral-3: hsl(0, 0%, 13%);
	--neutral-4: hsl(0, 0%, 16%);
	--neutral-5: hsl(0, 0%, 19%);
	--neutral-6: hsl(0, 0%, 23%);
	--neutral-7: hsl(0, 0%, 28%);
	--neutral-8: hsl(0, 0%, 38%);
	--neutral-9: hsl(0, 0%, 43%);
	--neutral-10: hsl(0, 0%, 48%);
	--neutral-11: hsl(0, 0%, 71%);
	--neutral-12: hsl(0, 0%, 93%);

	--primary-1: hsl(196, 41%, 7%);
	--primary-2: hsl(199, 33%, 9%);
	--primary-3: hsl(193, 74%, 12%);
	--primary-4: hsl(193, 100%, 14%);
	--primary-5: hsl(193, 100%, 17%);
	--primary-6: hsl(192, 93%, 21%);
	--primary-7: hsl(193, 75%, 28%);
	--primary-8: hsl(192, 80%, 34%);
	--primary-9: hsl(191, 100%, 39%);
	--primary-10: hsl(191, 71%, 48%);
	--primary-11: hsl(190, 75%, 60%);
	--primary-12: hsl(190, 80%, 84%);
}
